Trunk/Common/Service References/FileMgtService/filemgt11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="SaveBytes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="project" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="item" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bytes" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveBytesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveBytesResult" type="tns:ReturnValueInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ReturnValueInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="boolValue" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ValueObject" />
          <s:element minOccurs="0" maxOccurs="1" name="messageText" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="isError" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="RecordID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateBytes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="recordId" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="project" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="item" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bytes" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateBytesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateBytesResult" type="tns:ReturnValueInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="recordId" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bytes" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateByIdResult" type="tns:ReturnValueInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileRelativePath">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="recordId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileRelativePathResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFileRelativePathResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileBytes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="recordId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileBytesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFileBytesResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPro_File">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="recordId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Pro_File">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="pfl_RecordID" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="pfl_cProject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pfl_cItem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pfl_cFileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pfl_cSuffix" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="pfl_fFilesize" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="pfl_cRelativePath" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pfl_cAbsolutePath" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pfl_cAdd" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="pfl_dAddDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="pfl_cLast" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="pfl_cLastDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="pfl_RecordID_Length" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="pfl_cProject_Length" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="pfl_cItem_Length" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="pfl_cFileName_Length" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="pfl_cSuffix_Length" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="pfl_fFilesize_Length" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="pfl_cRelativePath_Length" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="pfl_cAbsolutePath_Length" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="pfl_cAdd_Length" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="pfl_dAddDate_Length" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="pf_cLast_Length" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="pf_cLastDate_Length" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RecordID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPro_FileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPro_FileResult" type="tns:Pro_File" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPro_Files">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="recordIds" type="tns:ArrayOfGuid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGuid">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="guid" type="s1:guid" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPro_File">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Pro_File" nillable="true" type="tns:Pro_File" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPro_FilesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPro_FilesResult" type="tns:ArrayOfPro_File" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePro_File">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="recordId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePro_FileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeletePro_FileResult" type="tns:ReturnValueInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileRelativePaths">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="recordIds" type="tns:ArrayOfGuid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetFileRelativePathsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFileRelativePathsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SaveBytesSoapIn">
    <wsdl:part name="parameters" element="tns:SaveBytes" />
  </wsdl:message>
  <wsdl:message name="SaveBytesSoapOut">
    <wsdl:part name="parameters" element="tns:SaveBytesResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateBytesSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateBytes" />
  </wsdl:message>
  <wsdl:message name="UpdateBytesSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateBytesResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateByIdSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateById" />
  </wsdl:message>
  <wsdl:message name="UpdateByIdSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetFileRelativePathSoapIn">
    <wsdl:part name="parameters" element="tns:GetFileRelativePath" />
  </wsdl:message>
  <wsdl:message name="GetFileRelativePathSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileRelativePathResponse" />
  </wsdl:message>
  <wsdl:message name="GetFileBytesSoapIn">
    <wsdl:part name="parameters" element="tns:GetFileBytes" />
  </wsdl:message>
  <wsdl:message name="GetFileBytesSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileBytesResponse" />
  </wsdl:message>
  <wsdl:message name="GetPro_FileSoapIn">
    <wsdl:part name="parameters" element="tns:GetPro_File" />
  </wsdl:message>
  <wsdl:message name="GetPro_FileSoapOut">
    <wsdl:part name="parameters" element="tns:GetPro_FileResponse" />
  </wsdl:message>
  <wsdl:message name="GetPro_FilesSoapIn">
    <wsdl:part name="parameters" element="tns:GetPro_Files" />
  </wsdl:message>
  <wsdl:message name="GetPro_FilesSoapOut">
    <wsdl:part name="parameters" element="tns:GetPro_FilesResponse" />
  </wsdl:message>
  <wsdl:message name="DeletePro_FileSoapIn">
    <wsdl:part name="parameters" element="tns:DeletePro_File" />
  </wsdl:message>
  <wsdl:message name="DeletePro_FileSoapOut">
    <wsdl:part name="parameters" element="tns:DeletePro_FileResponse" />
  </wsdl:message>
  <wsdl:message name="GetFileRelativePathsSoapIn">
    <wsdl:part name="parameters" element="tns:GetFileRelativePaths" />
  </wsdl:message>
  <wsdl:message name="GetFileRelativePathsSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileRelativePathsResponse" />
  </wsdl:message>
  <wsdl:portType name="FileMgtSoap">
    <wsdl:operation name="SaveBytes">
      <wsdl:input message="tns:SaveBytesSoapIn" />
      <wsdl:output message="tns:SaveBytesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBytes">
      <wsdl:input message="tns:UpdateBytesSoapIn" />
      <wsdl:output message="tns:UpdateBytesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateById">
      <wsdl:input message="tns:UpdateByIdSoapIn" />
      <wsdl:output message="tns:UpdateByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFileRelativePath">
      <wsdl:input message="tns:GetFileRelativePathSoapIn" />
      <wsdl:output message="tns:GetFileRelativePathSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFileBytes">
      <wsdl:input message="tns:GetFileBytesSoapIn" />
      <wsdl:output message="tns:GetFileBytesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPro_File">
      <wsdl:input message="tns:GetPro_FileSoapIn" />
      <wsdl:output message="tns:GetPro_FileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPro_Files">
      <wsdl:input message="tns:GetPro_FilesSoapIn" />
      <wsdl:output message="tns:GetPro_FilesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeletePro_File">
      <wsdl:input message="tns:DeletePro_FileSoapIn" />
      <wsdl:output message="tns:DeletePro_FileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFileRelativePaths">
      <wsdl:input message="tns:GetFileRelativePathsSoapIn" />
      <wsdl:output message="tns:GetFileRelativePathsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FileMgtSoap" type="tns:FileMgtSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveBytes">
      <soap:operation soapAction="http://tempuri.org/SaveBytes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBytes">
      <soap:operation soapAction="http://tempuri.org/UpdateBytes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateById">
      <soap:operation soapAction="http://tempuri.org/UpdateById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileRelativePath">
      <soap:operation soapAction="http://tempuri.org/GetFileRelativePath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileBytes">
      <soap:operation soapAction="http://tempuri.org/GetFileBytes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPro_File">
      <soap:operation soapAction="http://tempuri.org/GetPro_File" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPro_Files">
      <soap:operation soapAction="http://tempuri.org/GetPro_Files" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePro_File">
      <soap:operation soapAction="http://tempuri.org/DeletePro_File" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileRelativePaths">
      <soap:operation soapAction="http://tempuri.org/GetFileRelativePaths" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FileMgtSoap12" type="tns:FileMgtSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveBytes">
      <soap12:operation soapAction="http://tempuri.org/SaveBytes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBytes">
      <soap12:operation soapAction="http://tempuri.org/UpdateBytes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateById">
      <soap12:operation soapAction="http://tempuri.org/UpdateById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileRelativePath">
      <soap12:operation soapAction="http://tempuri.org/GetFileRelativePath" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileBytes">
      <soap12:operation soapAction="http://tempuri.org/GetFileBytes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPro_File">
      <soap12:operation soapAction="http://tempuri.org/GetPro_File" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPro_Files">
      <soap12:operation soapAction="http://tempuri.org/GetPro_Files" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePro_File">
      <soap12:operation soapAction="http://tempuri.org/DeletePro_File" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileRelativePaths">
      <soap12:operation soapAction="http://tempuri.org/GetFileRelativePaths" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileMgt">
    <wsdl:port name="FileMgtSoap" binding="tns:FileMgtSoap">
      <soap:address location="http://192.168.1.2/filemanage/filemgt.asmx" />
    </wsdl:port>
    <wsdl:port name="FileMgtSoap12" binding="tns:FileMgtSoap12">
      <soap12:address location="http://192.168.1.2/filemanage/filemgt.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>