Trunk/General/ServiceManage/Web References/SendDelayMessage/wsMsgSending.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendBatchSms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listPhoneNum" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="strContent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strServName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendBatchSmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendBatchSmsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendBatchEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listEmailAddr" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="strTitle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strContent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strServName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendBatchEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendBatchEmailResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendBatchSmsSoapIn">
    <wsdl:part name="parameters" element="tns:SendBatchSms" />
  </wsdl:message>
  <wsdl:message name="SendBatchSmsSoapOut">
    <wsdl:part name="parameters" element="tns:SendBatchSmsResponse" />
  </wsdl:message>
  <wsdl:message name="SendBatchEmailSoapIn">
    <wsdl:part name="parameters" element="tns:SendBatchEmail" />
  </wsdl:message>
  <wsdl:message name="SendBatchEmailSoapOut">
    <wsdl:part name="parameters" element="tns:SendBatchEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="wsMsgSendingSoap">
    <wsdl:operation name="SendBatchSms">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">发送短信</wsdl:documentation>
      <wsdl:input message="tns:SendBatchSmsSoapIn" />
      <wsdl:output message="tns:SendBatchSmsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendBatchEmail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">发送短信</wsdl:documentation>
      <wsdl:input message="tns:SendBatchEmailSoapIn" />
      <wsdl:output message="tns:SendBatchEmailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsMsgSendingSoap" type="tns:wsMsgSendingSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendBatchSms">
      <soap:operation soapAction="http://tempuri.org/SendBatchSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendBatchEmail">
      <soap:operation soapAction="http://tempuri.org/SendBatchEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsMsgSendingSoap12" type="tns:wsMsgSendingSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendBatchSms">
      <soap12:operation soapAction="http://tempuri.org/SendBatchSms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendBatchEmail">
      <soap12:operation soapAction="http://tempuri.org/SendBatchEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsMsgSending">
    <wsdl:port name="wsMsgSendingSoap" binding="tns:wsMsgSendingSoap">
      <soap:address location="http://192.168.1.2/MsgSender/General/wsMsgSending.asmx" />
    </wsdl:port>
    <wsdl:port name="wsMsgSendingSoap12" binding="tns:wsMsgSendingSoap12">
      <soap12:address location="http://192.168.1.2/MsgSender/General/wsMsgSending.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>